.ant-pagination-item{
    width: 48px;
    min-height: 48px;
    border-color: transparent !important;
}

.ant-pagination-item a{
    transform: translate(0%, 12%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.ant-pagination-item.ant-pagination-item-active{
    border-radius: 50% !important;
    border-color: #000000 !important;
}

.ant-pagination-item.ant-pagination-item-active a{
    color: #000000 !important;
}

.ant-pagination-mini{
    display: flex !important;
}

.ant-pagination-next{
    margin-left: 10px !important;
    visibility: visible !important;
}

.ant-pagination-prev{
    visibility: visible !important;
    margin-right: 10px !important;
}

.ant-pagination-next.ant-pagination-disabled{
    visibility: hidden !important;
}

.ant-pagination-prev.ant-pagination-disabled{
    visibility: hidden !important;
}

.pagination{
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .pagination{
        margin: 0;
    }
    .ant-pagination-item a{
        font-size: 20px;
        padding: 0 !important;
        transform: translate(0%, 0%);
        line-height: 34px;
    }
    .ant-pagination-item{
        width: 35px;
        min-height: 35px;
        top: 5px;
    }
    .ant-pagination-next{
        width: 35px !important;
        height: 35px !important
    }

     .ant-pagination-prev svg{
        width: 100%;
        height: 100%;
    }
    .ant-pagination-next svg{
        width: 100%;
        height: 100%;
    }
    
    .ant-pagination-prev{
        width: 35px !important;
        min-height: 35px !important
    }
}