.card_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .left_side {
    width: 30%;
    img {
      width: 410px;
      height: 250px;
    }
  }
  .right_side {
    width: 65%;
    h2 {
      margin-top: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 20px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 137.06px;
        height: 1px;
        background-color: #000000;
        bottom: -10px;
      }
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 16px;
    }
    .single_link {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      /* identical to box height, or 27px */

      color: #a29d9d;
    }
  }
}

@media screen and (max-width: 600px) {
    .card_wrapper {
        .left_side {
          width: 40%;
          img {
            width: 100%;
            height: 114px;
          }
        }
        .right_side {
          width: 58%;
          h2 {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
            margin-top: 0;
            height: 37px;
            overflow: hidden;
            &::before {
              width: 54px;
              bottom: 0;
            }
          }
          p {
            font-size: 10px;
            line-height: 150%;
            margin-bottom: 0;
          }
          .single_link {
            font-size: 8px;
            line-height: 150%;
          }
        }
      }
}