.ant-pagination-item{
    width: 48px;
    min-height: 48px;
    border-radius: 50% ;
    border-color: #000000;
}

.ant-pagination-item a{
    transform: translate(0%, 12%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}