.MusicPlayer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image_text{
        display: flex;
        gap: 50px;
        align-items: center;
        span{
            &:first-child{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 36px;
                color: #000000;
                display: block;
                margin-bottom: 10px;
            }
            &:last-child{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: #000000;
            }
        }
    }
    .music_terms{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}