.SliderFourCard_wrapper{
    img{
        width: 100%;
    }
    p{
        background: #DCD8D8;
        padding: 30px 42px 37px 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    .SliderFourCard_wrapper{
        width: 98%;
        margin: 0 auto;
        img{
            width: 100%;
            height: 179px;
        }
        p{
            padding: 18px 4px 15px 9px;
            font-size: 17px;
            line-height: 21px;
        }
    }
}