.SliderThreCard_wrapper{
    position: relative;
    span{
        position: absolute;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        bottom: 30px;
        left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .SliderThreCard_wrapper{
        position: relative;
        width: 90%;
        margin: 0 auto;
        img{
            width: 100%;
            height: 250px;
        }
        span{
            font-size: 20px;
            line-height: 22px;
            color: #FFFFFF;
            bottom: 30px;
            left: 20px;
        }
    }
}