.FiguresCard_wrapper{
    width: 100%;
    position: relative;
    
    .before{
        position: relative;
        height: 350px;
        margin-bottom: 30px;
        transition: all .3s;
        overflow: hidden;
        button{
            position: absolute;
            right: -10px;
            top: -10px;
            z-index: 5;
            opacity: 0;
        }
        .overlay{
            position: absolute;
            transition: all .3s;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            z-index: 1;
            opacity: 0;
        }
        img{
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            transition: 0.2s;
            min-height: 350px;
        }

        &:hover{
            transition: 0.2s;
                img{
                    transform: scale(1.1);
                }
                .overlay{
                    opacity: 0.5;
                }
                button{
                    opacity: 1;
                    transition: .3s;
                    &:hover{
                        svg{
                            fill: #f00;
                        }
                    }
                }
        }
        
    }
   
    h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 20px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            bottom: -10px;
            width: 137.06px;
            height: 1px;
            background-color: #000000;
        }
    }
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 16px;
    }
    .single_link{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #A29D9D;
    }
    
}
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    &.animate {
      transition-duration: 1s;
      background-position: -2800px 0;
    }
  }


  @media screen and (max-width: 600px) {
    .FiguresCard_wrapper{
        width: 100%;
        position: relative;
        
        .before{
            margin-bottom: 15px;
            height: auto;
        }
        h3{
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 11px;
            &::before{
                bottom: -5px;
                width: 53px;
                height: 1px;
            }
        }
        p{
            font-size: 10px;
            margin-bottom: 0;
        }
        .single_link{
            font-size: 8px;
        }
        
    }
    
  }